{% extends "govuk/template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block beforeContent %}
  {% if backLinkHref %}
    <div role="navigation" class="govuk-!-margin-top-6">
      {{ govukBackLink({
        text: "Back",
        href: backLinkHref
      }) }}
    </div>
  {% endif %}
  {% if homeLinkHref %}
      <div role="navigation" class="govuk-!-margin-top-6 govuk-!-margin-bottom-0">
        {{ govukBreadcrumbs({
            classes: "app-breadcrumbs--blue",
            items: [
              {
                text: "Home",
                href: "/"
              }
            ]
        }) }}
      </div>
    {% endif %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
{% endblock %}
