{% extends "../../partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set backLinkHref = "/pin-phone/view-contacts" %}
{% set pageTitle = selectedContact.name %}

{% block pageTitle %}
  {{ pageTitle }} - GOV.UK
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  {{ govukInsetText({
      classes: "app-inset-text--blue",
      html: 'To change this contact go to Apps and choose <a class="govuk-link govuk-link--no-underline" href="' + pinPhoneApps + '">PIN phones apps</a>'
  }) }}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Date added"
        },
        value: {
          text: "we don't have"
        }
      },
      {
        key: {
          text: "Contact type"
        },
        value: {
          text: selectedContact.contactType
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: selectedContact.name
          }
        },
        {
          key: {
            text: "Last name"
          },
          value: {
            text: "we don't have"
          }
        },
        {
          key: {
            text: "Organisation"
          },
          value: {
            html: "we don't have"
          }
        },
        {
          key: {
            text: "Relationship"
          },
          value: {
            html: selectedContact.contactTypeDescription
          }
        },
        {
          key: {
            text: "Telephone number 1"
          },
          value: {
            text: selectedContact.phoneNumber
          }
        },
        {
          key: {
            text: "Telephone number 2"
          },
          value: {
            text: "we don't have"
          }
        }
      ]
    }) }}

    {{ govukButton({
      text: "Back to view contacts",
      classes: "govuk-button--secondary",
      href: "/pin-phone/view-contacts"
    }) }}

{% endblock %}
