{% extends "../../partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = "To be social contact screen" %}

{% block pageTitle %}
  {{ pageTitle }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: "app-breadcrumbs--black",
    items: [
      {
        text: "Back",
        href: "/pin-phone/contacts"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

{% endblock %}
