{% extends "../../partials/layout.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% set pageTitle = selectedContact.name %}

{% block pageTitle %}
  {{ pageTitle }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container govuk-!-margin-top-6">
    {{ govukBackLink({
      text: "Back",
      href: "/pin-phone/view-contacts"
    }) }}
  </div>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  {{ govukInsetText({
      classes: "app-inset-text--blue",
      html: 'To change this contact go to Apps and choose <a class="govuk-link govuk-link--no-underline" href="' + pinPhoneApps + '">PIN phones apps</a>'
  }) }}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Date added"
        },
        value: {
          text: selectedContact.dateAdded
        }
      },
      {
        key: {
          text: "selectedContact type"
        },
        value: {
          text: selectedContact.type
        }
      }
    ]
  }) }}

  {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "First name"
          },
          value: {
            text: selectedContact.firstName
          }
        },
        {
          key: {
            text: "Last name"
          },
          value: {
            text: selectedContact.lastName
          }
        },
        {
          key: {
            text: "Date of birth or age"
          },
          value: {
            html: selectedContact.dateOfBirth
          }
        },
        {
          key: {
            text: "Relationship"
          },
          value: {
            html: selectedContact.relationship
          }
        },
        {
          key: {
            text: "Address line 1"
          },
          value: {
            text: selectedContact.addressLine1
          }
        },
        {
          key: {
            text: "Address line 2"
          },
          value: {
            text: selectedContact.addressLine2
          }
        },
        {
          key: {
            text: "Town or city"
          },
          value: {
            html: selectedContact.townOrCity
          }
        },
        {
          key: {
            text: "Postcode"
          },
          value: {
            html: selectedContact.postcode
          }
        },
        {
          key: {
            text: "Country"
          },
          value: {
            text: selectedContact.country
          }
        },
        {
          key: {
            text: "Telephone number 1"
          },
          value: {
            text: selectedContact.telephoneNumber1
          }
        },
        {
          key: {
            text: "Telephone number 2"
          },
          value: {
            html: selectedContact.telephoneNumber2
          }
        }
      ]
    }) }}

    {{ govukButton({
      text: "Back to view contacts",
      classes: "govuk-button--secondary",
      href: "/pin-phone/view-contacts"
    }) }}

{% endblock %}
