{% extends "../partials/layout.njk" %}
{% from "components/pinphonecreditproduct.njk" import pinphonecreditproduct %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

<div class="govuk-grid-row">
  <b> Cart confirmation page </b>
  <form action="/" method="GET" novalidate>
   <button type="submit" class="govuk-button">
      Complete order
    </button>
  </form>
</div>
{% endblock %}
